.employee-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.employee-avatar {
    display: block;
    width: 20%;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        width: 30%;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
    }
}

.employee-about {
    width: 75%;
    text-align: justify;
    h2 {
        margin-bottom: 0.5em;
    }
    @media screen and (max-width: 1024px) {
        width: 65%;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        h2 {
            text-align: center;
        }
    }
}

.employee__avatar-image {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        margin: auto;
    }
}