@import '../../styles/keyframes.module.scss';

.previous-clients {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 30px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

.previous-clients__header {
    width: 100%;
    margin-bottom: 30px;
}

.previous-clients__carousel {
    display: flex;
    position: relative;
    animation: swimming 20s linear infinite;
}