@import '../../styles/color-scheme.module.scss';

.cart-button-container {
    width: 27px;
    height: 27px;
    color: $primaryColorDark;
    position: relative;
    * {
        text-decoration: none;
        font-size: 12px;
    }
    &[data-fc-id="minicart"] {
        display: unset !important;
    }
    .cart-quantity {
        position: absolute;
        top: 0; left: 0;
        width: 14px; 
        height: 14px;
        border-radius: 100%;
        overflow: hidden;
        background-color: $primaryColor;
        color: $neutral100;
        font-size: 10px;
        text-align: center;
    }
    .cart-total {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        color: $primaryColor;
        font-size: 10px;
        * {
            font-size: 10px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}
