@import '../../styles/color-scheme.module.scss';

.trainingBannerPlaceholder, .trainingBanner {
    min-height: 300px;
    height: 300px;
    margin-bottom: 50px;
    @media screen and (max-width: 991px) {
        min-height: 250px;
        height: 250px;
        margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
        min-height: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
}

.trainingBanner {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    color: $primaryColorDark;
    background-size: cover;
    background-position: 10%;
    & h1 {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        background: radial-gradient(rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0) 100%);
    }
    @media screen and (max-width: 767px) {
        line-height: 48px;
        margin-bottom: 24px;
    }
}

.trainingBanner__logo {
    max-height: 85px;
    max-width: 85px;
    margin-right: 40px;
    @media screen and (max-width: 424px) {
        max-height: 70px;
        max-width: 70px;
        margin-right: 25px;
    }
    @media screen and (max-width: 374px) {
        max-height: 50px;
        max-width: 50px;
        margin-right: 15px;
    }
}