@import '../../styles/color-scheme.module.scss';
@import '../../styles/keyframes.module.scss';

.navbarContainer {
    height: 100%;
    // max-width: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar__link {
    height: 60px;
    min-width: 50px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.navbar__homeLink {
    display: none;
    @media screen and (min-width: 1023px) {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .navbar__whatWeDo {
        position: relative;
        &:hover {
            .popupMenuTraining {
                display: flex;
                animation: fadeIn 0.1s;
            }   
        }
        .popupMenuTraining {
            display: none;
            position: absolute;
            top: 1.5px;
            width: 150px;
            &:hover {
                .navbar__whatWeDo {
                    display: none;
                }
            }
        }
    }
}

.popupMenuOpen {
    padding: 15px 15px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid $neutral200;
    position: absolute;
    top: -13.5px; left: -42px;
    &:last-of-type {
        border-bottom: none;
    }
    @media screen and (max-width: 767px) {
        border-left: none;
        border-right: none;
        z-index: 9999;
        width: 100%;
        text-align: center;
    }
}