@import '../../styles/color-scheme.module.scss';

.service-box {
    width: 30%;
    max-width: 320px;
    height: 210px;
    box-shadow: 0 0 1px 2px $neutral200;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    .service-box__content {
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &:hover {
            transform: scale(1.1);
            transition: transform 3.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
    .service-box__header {
        background-color: rgba(0,0,0,0.33);
        // background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.75) 70%, rgba(255,255,255,0) 100%);
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 200px;
        color: $neutral100;
        // font-size: 40px;
        vertical-align: middle;
        // text-transform: uppercase;
        letter-spacing: 0.05em;
        @media screen and (max-width: 1023px) and (min-width: 768px) {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 767px) {
        width: 300px;
        margin-bottom: 20px;
    }
}


// .service-box {
//     width: 30%;
//     max-width: 320px;
//     height: 210px;
//     border: 2px solid $neutral100;
//     .service-box__text-content {
//         width: 100%;
//         * {
//             font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//                 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//                 sans-serif;
//             -webkit-font-smoothing: antialiased;
//             -moz-osx-font-smoothing: grayscale;
//         }
//         .MuiTypography-body2 {
//             font-size: 16px;
//         }
//         .MuiTypography-h5 {
//             font-size: 24px;
//             font-weight: 700;
//             width: 100%;
//             text-align: center;
//         }
//     }
//     .service-box__image-content {
//         transition: transform 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
//     }
//     &:hover {
//         .service-box__image-content {
//             transform: scale(1.1);
//             transition: transform 3.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
//         }
//     }
//     @media screen and (max-width: 767px) {
//         width: 300px;
//         margin-bottom: 20px;
//     }
// }

.service-box__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    vertical-align: top;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 1px 1px $neutral300;
    transition: box-shadow .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
        box-shadow: 0 0 3px 1px $primaryColorLight;
        transition: box-shadow .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.service-box__title {
    text-align: center;
}

.service-box__title__slash {
    color: $primaryColor;
}

.service-box__icon {
    display: inline-block;
    width: 160px;
    height: 160px;
}

.service-box__icon-bordered {
    background-size: cover;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.service-box__icon-bordered__acronym {
    color: $neutral600;
    font-size: 50px;
    font-weight: medium;
}

.service-box__actions {
    position: absolute;
    bottom: 0;
    z-index: 9990;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 10% , rgba(255,255,255,1) 100% );
}