@import '../../styles/keyframes.module.scss';
@import '../../styles/color-scheme.module.scss';

.what-we-do-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width: 1024px;
    padding-bottom: 100px;
    @media screen and (max-width: 1023px) {
        width: 90%;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.services-navigation {
    width: 29%;
    margin-top: 50px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .services-navigation-item {
        height: 40px;
        line-height: 40px;
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }
    .services-navigation-item-checked {
        border-left: 3px solid $primaryColor;
        padding-left: 12px;
        font-weight: 600;
    }
    @media screen and (max-width: 767px) {
        width: 50%;
        height: 100px;
        margin-top: 30px;
        flex-direction: row;
        align-items: center;
        .services-navigation-item {
            height: 40px;
            width: 100%;
            text-align: center;
            padding-left: unset;
        }
        .services-navigation-item-checked {
            border-bottom: 3px solid $primaryColor;    
            border-left: unset;
        }
    }
    @media screen and (max-width: 649px) {
        width: 90%;
    }
    @media screen and (max-width: 479px) {
        font-size: 80%;
    }
}

.what-we-do-page__content {
    width: 70%;
    @media screen and (max-width: 1080px) {
        .main__article {
            article, aside {
                min-width: 90%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    aside {
        height: 300px;
    }
}