@import '../../styles/color-scheme.module.scss';

.footer {
    width: 100%;
    height: 220px;
    padding: 20px 10px;
    margin: 0 auto;
    background-color: $neutral800;
    color: $light;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
        min-height: 440px;
        padding-bottom: 180px;
    }
}

.footer__link {
    color: $primaryColor;
    font-weight: 400;
    &:hover {
        color: $light;
    }
}

.footerContainer {
    height: 100%;
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    @media screen and (max-width: 1080px) {
        width: 992px;
    }
    @media screen and (max-width: 1023px) {
        width: 768px;
    }
    @media screen and (max-width: 767px) {
        width: 90%;
        justify-content: flex-start;
        flex-direction: column;
        & p, & h3 {
            width: 100%;
            text-align: left;
            font-size: 80%;
            height: 30px;
        }
    }
}

.footer__contactData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
    }
}