@import '../../styles/color-scheme.module.scss';

.training-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 1024px;
    @media screen and (max-width: 1080px) {
        width: 992px;
    }
    @media screen and (max-width: 1023px) {
        width: 768px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    margin: auto;
    padding-top: 0;
}

.training-page__placeholder {
    width: 100%;
    height: 250px;
}

#book-now {
    @media screen and (min-width: 375px) {
        width: 97%;
    }
}