$primaryColor: #528ecc;
$primaryColorDark: #284a6c;
$primaryColorLight: #cddceb;
$secondaryColor: #000000;
$light: #ffffff;

$primaryColorOld: #ff7549;
$secondaryColorOld: #eb8a47;
$lightOld: #f9f8f5;

$neutral800: #000000;
$neutral700: #353655;
$neutral600: #555671;
$neutral500: #808091;
$neutral400: #d9d8d5;
$neutral300: #dad9d6;
$neutral200: #f9f8f5;
$neutral100: #ffffff;