@import '../../styles/color-scheme.module.scss';

.logo-container {
    overflow: hidden;
    a {
        max-width: 100%;
        max-height: 100%;
    }
    img {
        max-width: 47%;
        max-height: 47%;
        @media screen and (max-width: 767px) {
            max-width: 40%;
            max-height: 40%;
        }
    }
}

.footer-container .logo-container {
    @media screen and (max-width: 1023px) {
        display: none;
    }
}