@import '../../styles/color-scheme.module.scss';
@import '../../styles/keyframes.module.scss';


.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: $light;
    width: 1024px;
    @media screen and (max-width: 1080px) {
        width: 992px;
    }
    @media screen and (max-width: 1023px) {
        width: 768px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    margin: auto;
}
